{% extends 'base.html' %}

{% block content %}
<div id="data_buttons_videos">
    <div class="left-buttons">
        <button id="button_channels">Channels</button>
        <button id="button_videos">Videos</button>
    </div>
    <div class="right-buttons">
        <button id="sort_videos_az">Sort A-Z</button>
        <button id="sort_videos_za">Sort Z-A</button>
        <input type="text" id="search_videos_input" placeholder="Search videos...">
    </div>
</div>

<ol id="video_list"> 
    {% for i in info %} 
    <li class="video-item">
        <div class="video-content">
            <img class="thumb" src="{{ i.thumb }}" alt="video thumb">
            <div class="video-details">
                <p class="video_title">{{ i.title }}</p>
                <p><strong>Channel:</strong> {{ i.channel_name }}</p>
                <p><strong>Views:</strong> {{ i.views }}</p>
                <p><strong>Likes:</strong> {{ i.likes }}</p>
                <p><strong>Duration:</strong> {{ i.duration }}</p>
                <p><strong>Data:</strong> {{ i.video_date }}</p>
                <p><strong>Comments:</strong> {{ i.comments }}</p>
            </div>
        </div>
    </li>
    {% endfor %} 
</ol>
{% endblock %}